<style>
    table {
        table-layout: auto !important;
    }

    th, td, thead th, tbody td, tfoot td, tfoot th {
        width: auto;
    }
</style>
<div style="padding-top: 20px;">
    <form id="filter_form" class="row">
        <div class="form-group col-4">
            <label>Період з</label>
            <input type="date" name="from" class="form-control" required>
        </div>
        <div class="form-group col-4">
            <label>Період по</label>
            <input type="date" name="till" class="form-control" required>
        </div>
        <div class="text-center col-4" style="line-height: 6;">
            <button class="btn btn-success">Фільтрувати</button>
        </div>
    </form>

    <table class="table table-striped table-bordered table-sm table-hover">
    <thead>
    <tr>
        <th rowspan="3" class="text-center" style="vertical-align: middle;">Код</th>
        <th rowspan="3" class="text-center" style="vertical-align: middle; width: 50px;">
            Залишок
        </th>
        <th colspan="" class="text-center days-header" style="vertical-align: middle;">Дата&nbsp;<span class="date-period"></span></th>
        <th colspan="2" class="text-center days-header" style="vertical-align: middle;">Прихід</th>
    </tr>
    <tr class="date-row">

    </tr>
    <tr class="date-headers">

    </tr>
    </thead>
        <tfoot>
        <tr>
            <th rowspan="3" class="text-center" style="vertical-align: middle;">Код</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle; width: 50px;">
                Залишок
            </th>
            <th colspan="" class="text-center days-header" style="vertical-align: middle;">Дата&nbsp;<span class="date-period"></span></th>
            <th colspan="2" class="text-center days-header" style="vertical-align: middle;">Прихід</th>
        </tr>
        <tr class="date-row">

        </tr>
        <tr class="date-headers">

        </tr>
        </tfoot>
    <tbody id="income_list">

    </tbody>
</table>
</div>