<div>
    <div class="form-group">
        <label><h3>Пошук за кодом/назвою</h3></label>
        <input class="form-control" id="filter" style="border: 1px solid;">
    </div>
    <table class="table table-striped table-bordered table-sm table-hover" style="width: 100%;">
        <thead>
        <tr>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Код</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Назва</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Од. вимірювання</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Залишок</th>
            <th colspan="3" class="text-center">
                Ціна/од.
            </th>
            <th colspan="2" class="text-center">
                Прихід
            </th>
            <th class="text-center">
                Продаж
            </th>
            <th class="text-center">Прибуток</th>
        </tr>
        <tr>
            <th class="text-center">
                Закупівельна, грн.
            </th>
            <th class="text-center">
                Закупівеньна, дол.
            </th>
            <th class="text-center">
                Роздрібна, грн.
            </th>
            <th class="text-center">
                грн.
            </th>
            <th class="text-center">
                дол.
            </th>
            <th class="text-center">
                грн.
            </th>
            <th class="text-center">
                грн.
            </th>
        </tr>
        </thead>
        <tbody id="products" style="overflow-y: auto;">

        </tbody>
    </table>

    <link rel="stylesheet" href="../assets/js/datatable/DataTables-1.10.18/css/jquery.dataTables.min.css">
    <script src="../assets/js/datatable/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/datatable/FixedHeader-3.1.4/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="../assets/js/datatable/FixedHeader-3.1.4/css/fixedHeader.bootstrap4.min.css">
</div>