<!DOCTYPE html>
<html>
<head>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.inputmask.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script>if (window.module) module = window.module;</script>
</head>
<body class="container" style="padding-top: 20px; padding-bottom: 20px;">
<form id="product_form">
    <input type="hidden" class="form-control" name="id">

    <div class="form-group">
        <label>Код</label>
        <input name="code" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Назва</label>
        <input name="name" data-type="text" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Одиниці вимірювання</label>
        <select name="unit" class="form-control" required>
            <option selected disabled>--- вибрати ---</option>
            <option value="м">м</option>
            <option value="м2">м2</option>
            <option value="м3">м3</option>
            <option value="кг">кг</option>
            <option value="л">л</option>
            <option value="шт.">шт.</option>
        </select>
    </div>

    <div class="form-group">
        <label>Кількість на складі</label>
        <input name="residual" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Ціна закупки за одиницю, грн.</label>
        <input name="purchase_price" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Ціна закупки за одиницю, дол.</label>
        <input name="purchase_price_usd" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Ціна продажу за одиницю, грн.</label>
        <input name="sale_price" data-type="number" class="form-control" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Додати</button>
    </div>
</form>
<script>
    const { ipcRenderer } = require('electron');
    const database = require('../assets/js/database');

    ipcRenderer.on('on_add_product_add_fail', function(){
        alert('Невдалось додати продукт. Спробуйте ще раз або перевірте зєднання з базою даних та перезапустіть додаток');
    });

    ipcRenderer.on('load_product', function(event, code){
        if (code) {
            database.get_product_by_code(code + '', function(error, product){
                if (product) {
                    ['id', 'name', 'code', 'unit', 'residual', 'purchase_price', 'purchase_price_usd', 'sale_price'].forEach(function(key){
                        $('[name=' + key + ']').val(product[key]);
                    });

                    $('[type=submit]').text('Зберегти');
                } else {
                    alert('Невдалось загрузити товар');
                }
            });
        }
    });

    $('[data-type=number]').inputmask('decimal', { rightAlign: false });

    $('#product_form').submit(function(e){
        e.preventDefault();

        let data = {};

        $(this).find('.form-control').each(function(){
            let $input = $(this);

            if ($input.data('type') === 'number') {
                data[$input.attr('name')] = parseFloat(parseFloat($input.val()).toFixed(2));
            } else {
                data[$input.attr('name')] = $input.val();
            }
        });

        if (!data.id) {
            delete data.id;
        }

        database.get_product_by_code(data.code + '', function(error, product){
            if (product) {
                if (data.id !== product.id) {
                    alert('Товар з таким кодом вже існує');
                    return;
                }
            }

            ipcRenderer.sendSync('on_add_product', data);
        });
    });
</script>
</body>
</html>