<!DOCTYPE html>
<html>
<head>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.inputmask.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="../assets/js/autocomlete/jquery.auto-complete.min.js"></script>
    <link rel="stylesheet" href="../assets/js/autocomlete/jquery.auto-complete.css">
    <script>if (window.module) module = window.module;</script>
    <title>Прихід</title>
</head>
<body class="container" style="padding-top: 20px; padding-bottom: 20px;">
<form id="income_product_form">
    <div class="form-group">
        <label>Код</label>
        <input name="product_code" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Кількість</label>
        <input name="amount" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Ціна закупки за одиницю, грн.</label>
        <input name="purchase_price" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Ціна закупки за одиницю, дол.</label>
        <input name="purchase_price_usd" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Ціна продажу за одиницю, грн.</label>
        <input name="sale_price" data-type="number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Дата приходу</label>
        <input name="income_date" type="date" class="form-control" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Додати</button>
    </div>
</form>
<script>
    const database = require('../assets/js/database');

    let PRODUCT_CODE;

    $('[data-type=number]').inputmask('decimal', { rightAlign: false });

    $('[name=product_code]').unbind().autoComplete({
        minChars: 2,
        source: function(term, suggest){
            database.get_products_match(term, function(products){
                suggest(products);
            });
        },
        onSelect: function(e, term, item){
            PRODUCT_CODE = item.data('code');

            $('[name=product_code]').val(PRODUCT_CODE);
        },
        renderItem: function (product, search){
            search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
            let re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");

            return '<div class="autocomplete-suggestion" data-code="'+product.code+'" data-name="'+product.name+'" data-val="'+search+'">'
                + product.code.replace(re, "<b>$1</b>") + ', ' + product.name.replace(re, "<b>$1</b>")
                + '</div>';
        }
    });

    $('#income_product_form').submit(function(e){
        e.preventDefault();

        let data = {};

        $(this).find('.form-control').each(function(){
            let $input = $(this);

            if ($input.data('type') === 'number') {
                data[$input.attr('name')] = parseFloat(parseFloat($input.val()).toFixed(2));
            } else {
                data[$input.attr('name')] = $input.val();
            }
        });

        if (data.amount <= 0 || data.purchase_price <= 0 || data.purchase_price_usd <= 0) {
          alert('Кількість і ціни мають бути більмиши за нуль');
          return;
        }

        database.product_income(data, function (error, result) {
          if (error) {
            alert(error);
          } else {
            alert('Додано');
          }
        });
    });
</script>
</body>
</html>