<tr>
    <td><input name="code" style="width: 350px;" required>, <span class="product-name"></span></td>
    <td style="width: 150px;"><span class="product-available-amount"></span> / <input name="amount" style="width: 50px;" required></td>
    <td style="width: 150px;"><input name="sale_price" style="width: 100px;" required></td>
    <td><button type="button" class="btn btn-dark">Видалити</button></td>
</tr>